@import "./base/normalize.css";
@import "./base/variables.css";
@import "./base/typography.css";
@import "./layout/grid.css";
@import "./layout/header.css";
@import "./components/buttons.css";


html {
  font-size: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--espaciado-md);
  line-height: var(--espaciado-mdx);
  color: var(--color-primario-oscuro);
  background-color: var(--color-primario-muy-claro);
}

h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-primario-oscuro);
}

h2,
h3,
p,
button {
  color: var(--color-primario-oscuro);
}

@keyframes girarRuleta {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animacionBoton {
  0% {
    background-color: var(--color-primario--muy-claro);
  }
  50% {
    background-color: var(--color-primario-claro);
  }
  100% {
    background-color: var(--color-primario-muy-claro);
  }
}

.animar {
  animation: animacionBoton 1s ease-in-out;
}

.toast {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primario-claro);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.65rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.toast.mostrar {
  opacity: 1;
}

.sombra-izquierda,
.sombra-derecha {
  position: fixed;
  top: 0;
  width: 2vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}

.sombra-izquierda {
  left: 0;
  background: linear-gradient(to right, hsl(220, 30%, 70%), transparent);
}

.sombra-derecha {
  right: 0;
  background: linear-gradient(to left,hsl(220, 30%, 70%), transparent);
}

.tooltip-color {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
  background-color: white;
  color: black;
  border: 1px solid var(--color-primario-oscuro);
  font-size: 0.6rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.tooltip-color.mostrar {
  opacity: 1;
}

.tooltip-unblock {
  position: absolute;
  top: 5%;
  left: 84%;
  transform: translateX(-50%);
  margin-top: 0.1rem;
  background-color: white;
  border: 1px solid var(--color-primario-oscuro);
  font-size: 1rem;
  padding: 0.1rem 0.1rem;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: auto;
  transition: opacity 0.2s ease;
}

.tooltip-unblock.mostrar {
  opacity: 1;
}