@import "./base/normalize.css";
@import "./base/variables.css";
/*@import "./base/typography.css";*/
@import "./layout/grid.css";
@import "./layout/header.css";
@import "./components/buttons.css";


html {
  font-size: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: var(--espaciado-mdx);
  color: var(--color-primario-oscuro);
  background-color: var(--color-primario-muy-claro);
}

@keyframes girarRuleta {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animacionBoton {
  0% {
    background-color: var(--color-primario--muy-claro);
  }
  50% {
    background-color: var(--color-primario-claro);
  }
  100% {
    background-color: var(--color-primario-muy-claro);
  }
}

.animar {
  animation: animacionBoton 0.3s ease-in-out;
}