.contenedor {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.generar-paleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 75rem;
  margin: 1rem;
}

.titulo-secundario {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.instrucciones {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 75rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}