.contenedor {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.generar-paleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 75rem;
  margin: 1rem;
}

.titulo-secundario {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.instrucciones {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 75rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem;
}

.css-validado {
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
}

.info {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}
