.contenedor {
  width: 98%;
  max-width: 100rem;
  margin: 0 auto;
}

.contenido-principal {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: var(--espaciado-lg);
}

.section-generar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100rem;
  padding: var(--espaciado-mdx);
  
}

.generar-paleta {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.instrucciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: var(--espaciado-md);
}

.aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100rem;
  padding: var(--espaciado-md);
  gap: var(--espaciado-md);
}

.formato,
.cantidad-colores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.cantidad-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-terciario,
.cantidad-texto {
  margin-bottom: var(--gap-boton-sm);
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: var(--espaciado-md2);
}

.css-validado {
  grid-row: 1;
  grid-column: 3;
  justify-self: end;  
  margin-right: var(--gap-boton-sm);
}

.css-validado img {
  width: 3.9rem;
  height: 1.6rem;
}

.info {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  font-size: small;
}
