.header {
  display: flex;
  justify-content: center;
  background-color: var(--color-primario-claro);
  /* background-color usando variable */
  padding: 0.75rem;
  /* padding usando rem */
  box-shadow: 4px 4px 8px var(--color-primario);
  /* box-shadow sutil */
}

.header-contenido {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  /* max-width para limitar ancho */
  margin: 0 auto;
  /* margin: 0 auto para centrar */
  padding: 0.75rem;
  /* padding usando rem */
  text-align: center;
  /* text-align: center */
}

.titulo-principal {
  font-size: 3rem;
  /* font-size usando rem (2.5rem - 3rem) */
  margin-bottom: 0.75rem;
  /* margin-bottom usando rem */
  color: var(--color-primario-oscuro);
  /* color usando variable HSL */
  animation-name: girarRuleta;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.65s;
  animation-iteration-count: 3;
}

.descripcion {
  font-size: 1.5rem;
  /* font-size usando rem */
  color: var(--color-primario);
  /* color más claro para contraste */
}