.header {
  display: flex;
  justify-content: center;
  background-color: var(--color-primario-claro);
  box-shadow: 4px 4px 8px var(--color-primario);
}

.header-contenido {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.titulo-principal {
  font-size: var(--espaciado-xl);
  padding: var(--espaciado-md);
  color: var(--color-primario-oscuro);
  text-shadow: 2px 2px 3px var(--color-primario-oscuro);
}

.descripcion {
  font-size: var(--espaciado-md2);
  color: var(--color-primario-2);
  font-weight: bold;
}