body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--espaciado-md);
  line-height: var(--espaciado-mdx);
  color: var(--color-primario-oscuro);
  background-color: var(--color-primario-muy-claro);
}

h2 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--color-primario-oscuro);
}

h2,
p,
button {
  color: var(--color-primario-oscuro);
}

.instruccion-1::before,
.instruccion-2::before,
.instruccion-3::before {
 content: "\00B7\00a0";
 color: var(--color-primario);
}