.instruccion-1::before {
 content: "\1F60A\00a0";
}

.instruccion-2::before {
  content: "\1F64C\00a0";
}

.instruccion-3::before {
  content: "\1F60E\00a0";
}

.preferencia::after {
  content: "\00a0\1F447";
}