
@keyframes animacionBoton {
  0% {
    background-color: var(--color-primario-muy-claro);
  }
  50% {
    background-color: var(--color-primario-claro);
  }
  100% {
    background-color: var(--color-primario-muy-claro);
  }
}

.animar {
  animation: animacionBoton 1.3s ease-in-out;
}
