button {
  cursor: pointer;
  background-color: var(--color-primario-muy-claro);
}

.area-botones {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 95%;
  align-items: center;
  margin: 0 auto;
}


.btn-generado {
  width: var(--ancho-boton);
  min-height: calc(var(--ancho-boton) * 1.2);
  border: 1px solid var(--color-primario-oscuro);
  border-radius: 10px;
  box-shadow: 4px 4px 8px var(--color-primario-claro);
  transition: 1s;
}

.btn-cantidad {
  width: var(--ancho-boton-md);
  height: calc(var(--ancho-boton-md) * 0.2);
  margin: var(--espaciado-md);
  border: none;
  border-radius: 15px;
  box-shadow: 4px 4px 8px var(--color-primario-claro);
  transition: 1.5s;
}

.btn-generar {
  width: calc(var(--ancho-boton) * 1.1);
  height: calc(var(--ancho-boton) * 0.3);
  border: 1px solid var(--color-primario-oscuro);
  border-radius: 15px;
  box-shadow: 4px 4px 8px var(--color-primario);
  transition: 1.5s;
}


.btn-formato {
  width: var(--ancho-boton-md);
  height: calc(var(--ancho-boton-md) * 0.2);
  margin: 1rem;
  border: 1px solid var(--color-primario-oscuro);
  border: none;
  border-radius: 15px;
  box-shadow: 4px 4px 8px var(--color-primario-claro);
  transition: 1.5s;
}