button {
  cursor: pointer;
  background-color: var(--color-primario-muy-claro);
}

.area-botones {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 95%;
  align-items: center;
  margin: 0 auto;
}


.btn-generado {
  min-width: clamp(5rem, 9vw, 10rem);
  height: 10rem;
  min-height: 8rem;
  max-height: 11rem;
  border: 1px solid var(--color-primario-oscuro);
  border-radius: 10px;
  box-shadow: 4px 4px 8px var(--color-primario-claro);
  transition: 1s;
}

.btn-cantidad {
  width: 4rem;
  height: var(--espaciado-mdx);
  margin: var(--espaciado-md);
  border: none;
  border-radius: 15px;
  box-shadow: 4px 4px 8px var(--color-primario-claro);
  transition: 1.5s;
}

.btn-generar {
  width: 9rem;
  height: 3rem;
  border: 1px solid var(--color-primario-oscuro);
  border-radius: 15px;
  box-shadow: 4px 4px 8px var(--color-primario);
  transition: 1.5s;
}


.btn-formato {
  width: 4rem;
  height: 1.5rem;
  margin: 1rem;
  border: 1px solid var(--color-primario-oscuro);
  border: none;
  border-radius: 15px;
  box-shadow: 4px 4px 8px var(--color-primario-claro);
  transition: 1.5s;
}