button {
  cursor: pointer;
  background-color: var(--color-primario-muy-claro);
}

.area-botones {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 85rem;
  margin: 0 auto;
}

.btn-generado {
  min-width: 8.5rem;
  min-height: 10rem;
  margin: var(--espaciado-xs);
  border: 1px solid var(--color-primario-oscuro);
}

.btn-cantidad {
  border: 1px solid var(--color-primario-oscuro);

}

#btn-generar {
  border: 1px solid var(--color-primario-oscuro);
}

.btn-formato {
  border: 1px solid var(--color-primario-oscuro);
}